USE [master]
GO
/****** Object:  Database [Benefix]    Script Date: 11/11/2018 23:16:13 ******/
CREATE DATABASE [Benefix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Benefixz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Benefixz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Benefixz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Benefixz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Benefix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Benefix]
GO
/****** Object:  Table [dbo].[beneficio]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficio](
	[idBeneficio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](256) NULL,
	[nombre] [nvarchar](256) NOT NULL,
	[puntaje] [int] NOT NULL,
	[habilitado] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_beneficio_idBeneficio] PRIMARY KEY CLUSTERED 
(
	[idBeneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[idBitacora] [int] IDENTITY(1,1) NOT NULL,
	[criticidad] [int] NOT NULL,
	[descripcion] [nvarchar](256) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[funcionalidad] [nvarchar](45) NOT NULL,
	[Usuario_idUsuario] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_bitacora_idBitacora] PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[digitoverificadorvertical]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digitoverificadorvertical](
	[idDigitoVerificadorVertical] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [nvarchar](45) NOT NULL,
	[digitoVerificador] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_digitoverificadorvertical_idDigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[idDigitoVerificadorVertical] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo](
	[idEquipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](45) NULL,
	[coordinador] [int] NOT NULL,
	[habilitado] [int] NOT NULL,
 CONSTRAINT [PK_equipo_idEquipo] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipogrupo]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipogrupo](
	[idEquipoGrupo] [int] IDENTITY(1,1) NOT NULL,
	[periodoFin] [int] NULL,
	[periodoInicio] [int] NOT NULL,
	[Grupo_idGrupo] [int] NOT NULL,
	[Equipo_idEquipo] [int] NOT NULL,
 CONSTRAINT [PK_equipogrupo_idEquipoGrupo] PRIMARY KEY CLUSTERED 
(
	[idEquipoGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipoobjetivo]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipoobjetivo](
	[idEquipoObjetivo] [int] IDENTITY(1,1) NOT NULL,
	[periodoFin] [int] NULL,
	[periodoInicio] [int] NOT NULL,
	[Equipo_idEquipo] [int] NOT NULL,
	[Objetivo_idObjetivo] [int] NOT NULL,
 CONSTRAINT [PK_equipoobjetivo_idEquipoObjetivo] PRIMARY KEY CLUSTERED 
(
	[idEquipoObjetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluacion]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacion](
	[idEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[puntaje] [int] NOT NULL,
	[periodo] [int] NOT NULL,
	[EquipoObjetivo_idEquipoObjetivo] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_evaluacion_idEvaluacion] PRIMARY KEY CLUSTERED 
(
	[idEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[familia]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[familia](
	[idFamilia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](256) NOT NULL,
	[habilitado] [int] NOT NULL,
 CONSTRAINT [PK_familia_idFamilia] PRIMARY KEY CLUSTERED 
(
	[idFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[familiapatente]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[familiapatente](
	[idFamiliaPatente] [int] IDENTITY(1,1) NOT NULL,
	[Patente_idPatente] [int] NOT NULL,
	[Familia_idFamilia] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_familiapatente_idFamiliaPatente] PRIMARY KEY CLUSTERED 
(
	[idFamiliaPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[familiausuario]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[familiausuario](
	[idFamiliaUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Familia_idFamilia] [int] NOT NULL,
	[Usuario_idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_familiausuario_idFamiliaUsuario] PRIMARY KEY CLUSTERED 
(
	[idFamiliaUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo](
	[idGrupo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](45) NULL,
	[habilitado] [int] NOT NULL,
 CONSTRAINT [PK_grupo_idGrupo] PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupobeneficio]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupobeneficio](
	[idGrupoBeneficio] [int] IDENTITY(1,1) NOT NULL,
	[periodoFin] [int] NULL,
	[periodoInicio] [int] NOT NULL,
	[Grupo_idGrupo] [int] NOT NULL,
	[Beneficio_idBeneficio] [int] NOT NULL,
 CONSTRAINT [PK_grupobeneficio_idGrupoBeneficio] PRIMARY KEY CLUSTERED 
(
	[idGrupoBeneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[idIdioma] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_idioma_idIdioma] PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objetivo]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objetivo](
	[idObjetivo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](256) NOT NULL,
	[puntaje] [int] NOT NULL,
	[descripcion] [nvarchar](45) NULL,
	[habilitado] [int] NOT NULL,
 CONSTRAINT [PK_objetivo_idObjetivo] PRIMARY KEY CLUSTERED 
(
	[idObjetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patente]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patente](
	[idPatente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_patente_idPatente] PRIMARY KEY CLUSTERED 
(
	[idPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patenteusuario]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patenteusuario](
	[idPatente] [int] IDENTITY(1,1) NOT NULL,
	[esPermisiva] [smallint] NOT NULL,
	[Patente_idPatente] [int] NOT NULL,
	[Usuario_idUsuario] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_patenteusuario_idPatente] PRIMARY KEY CLUSTERED 
(
	[idPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/11/2018 23:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](256) NOT NULL,
	[nombre] [nvarchar](45) NOT NULL,
	[apellido] [nvarchar](45) NOT NULL,
	[email] [nvarchar](45) NOT NULL,
	[contrasena] [nvarchar](256) NOT NULL,
	[Idioma_idIdioma] [int] NOT NULL,
	[Equipo_idEquipo] [int] NULL,
	[habilitado] [int] NOT NULL,
	[digitoVerificadorH] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_usuario_idUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([idBitacora], [criticidad], [descripcion], [fecha], [funcionalidad], [Usuario_idUsuario], [digitoVerificadorH]) VALUES (2, 2, N'4TXB7mxNQ48Yep2crakneQ==', CAST(N'2018-11-07T01:28:49.000' AS DateTime), N'LOGIN', 3, N'F5C9C14DE1AC278964690A614F020997')
INSERT [dbo].[bitacora] ([idBitacora], [criticidad], [descripcion], [fecha], [funcionalidad], [Usuario_idUsuario], [digitoVerificadorH]) VALUES (3, 2, N'4TXB7mxNQ48Yep2crakneQ==', CAST(N'2018-11-07T01:29:14.000' AS DateTime), N'LOGIN', 3, N'70A470591E454263FBA6DA4F1125756C')
INSERT [dbo].[bitacora] ([idBitacora], [criticidad], [descripcion], [fecha], [funcionalidad], [Usuario_idUsuario], [digitoVerificadorH]) VALUES (4, 2, N'4TXB7mxNQ48Yep2crakneQ==', CAST(N'2018-11-08T04:23:47.000' AS DateTime), N'LOGIN', 3, N'9CB953F1EDAE045F5CCFAEA7E495B9B1')
SET IDENTITY_INSERT [dbo].[bitacora] OFF
SET IDENTITY_INSERT [dbo].[digitoverificadorvertical] ON 

INSERT [dbo].[digitoverificadorvertical] ([idDigitoVerificadorVertical], [tabla], [digitoVerificador]) VALUES (1, N'BITACORA', N'F4ECB8EC4D4433CCFC07CD0C65FDB774')
INSERT [dbo].[digitoverificadorvertical] ([idDigitoVerificadorVertical], [tabla], [digitoVerificador]) VALUES (2, N'USUARIO', N'2C4724405462C35D50B343140791E7E7')
INSERT [dbo].[digitoverificadorvertical] ([idDigitoVerificadorVertical], [tabla], [digitoVerificador]) VALUES (3, N'familiapatente', N'2C9E5EF388F1DC0FC7264D1CFC9C7322')
SET IDENTITY_INSERT [dbo].[digitoverificadorvertical] OFF
SET IDENTITY_INSERT [dbo].[familia] ON 

INSERT [dbo].[familia] ([idFamilia], [nombre], [habilitado]) VALUES (1, N'Gzrqcn0yM9BMAD1YuT9AaQ==', 1)
INSERT [dbo].[familia] ([idFamilia], [nombre], [habilitado]) VALUES (2, N'LP60jnk2hJ7ABj0q/2mVww==', 1)
INSERT [dbo].[familia] ([idFamilia], [nombre], [habilitado]) VALUES (3, N'+Uqtwn/q0zArrc86oPPP4Q==', 1)
SET IDENTITY_INSERT [dbo].[familia] OFF
SET IDENTITY_INSERT [dbo].[familiapatente] ON 

INSERT [dbo].[familiapatente] ([idFamiliaPatente], [Patente_idPatente], [Familia_idFamilia], [digitoVerificadorH]) VALUES (1, 2, 1, N'3C59DC048E8850243BE8079A5C74D079')
INSERT [dbo].[familiapatente] ([idFamiliaPatente], [Patente_idPatente], [Familia_idFamilia], [digitoVerificadorH]) VALUES (2, 3, 1, N'C16A5320FA475530D9583C34FD356EF5')
INSERT [dbo].[familiapatente] ([idFamiliaPatente], [Patente_idPatente], [Familia_idFamilia], [digitoVerificadorH]) VALUES (3, 4, 1, N'3416A75F4CEA9109507CACD8E2F2AEFC')
SET IDENTITY_INSERT [dbo].[familiapatente] OFF
SET IDENTITY_INSERT [dbo].[familiausuario] ON 

INSERT [dbo].[familiausuario] ([idFamiliaUsuario], [Familia_idFamilia], [Usuario_idUsuario]) VALUES (1, 1, 4)
INSERT [dbo].[familiausuario] ([idFamiliaUsuario], [Familia_idFamilia], [Usuario_idUsuario]) VALUES (2, 3, 11)
INSERT [dbo].[familiausuario] ([idFamiliaUsuario], [Familia_idFamilia], [Usuario_idUsuario]) VALUES (3, 2, 12)
SET IDENTITY_INSERT [dbo].[familiausuario] OFF
SET IDENTITY_INSERT [dbo].[idioma] ON 

INSERT [dbo].[idioma] ([idIdioma], [nombre]) VALUES (1, N'Español')
INSERT [dbo].[idioma] ([idIdioma], [nombre]) VALUES (2, N'Ingles')
SET IDENTITY_INSERT [dbo].[idioma] OFF
SET IDENTITY_INSERT [dbo].[patente] ON 

INSERT [dbo].[patente] ([idPatente], [nombre]) VALUES (1, N'MI_ESTADO')
INSERT [dbo].[patente] ([idPatente], [nombre]) VALUES (2, N'EVALUAR_EQUIPOS_A_CARGO')
INSERT [dbo].[patente] ([idPatente], [nombre]) VALUES (3, N'REPORTE_OBJETIVOS_POR_EMPLEADO')
SET IDENTITY_INSERT [dbo].[patente] OFF
SET IDENTITY_INSERT [dbo].[patenteusuario] ON 

INSERT [dbo].[patenteusuario] ([idPatente], [esPermisiva], [Patente_idPatente], [Usuario_idUsuario], [digitoVerificadorH]) VALUES (1, 0, 12, 3, N'EB62F6B9306DB575C2D596B1279627A4')
SET IDENTITY_INSERT [dbo].[patenteusuario] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [nombreUsuario], [nombre], [apellido], [email], [contrasena], [Idioma_idIdioma], [Equipo_idEquipo], [habilitado], [digitoVerificadorH]) VALUES (3, N'hnkeEBj3FnsD5a/1QJeAvQ==', N'admin', N'admin', N'admin@mail.com', N'9C7ACD47D05ABC324D55D5AD3E01D005', 1, NULL, 1, N'E48FDED6437B5EA0EE723058D0F76DD0')
INSERT [dbo].[usuario] ([idUsuario], [nombreUsuario], [nombre], [apellido], [email], [contrasena], [Idioma_idIdioma], [Equipo_idEquipo], [habilitado], [digitoVerificadorH]) VALUES (4, N'm3DxqP3rImzVRT5P4u0uwQ==', N'Facundo', N'Vazquez', N'f@mail.com', N'9C7ACD47D05ABC324D55D5AD3E01D005', 1, NULL, 1, N'66BBA0EDA0ED6067C25723B6E831E7ED')
INSERT [dbo].[usuario] ([idUsuario], [nombreUsuario], [nombre], [apellido], [email], [contrasena], [Idioma_idIdioma], [Equipo_idEquipo], [habilitado], [digitoVerificadorH]) VALUES (5, N'buavlXCsgm+rIlJd6EKzXA==', N'Carlos', N'Sanchez', N'c@mail.com', N'9C7ACD47D05ABC324D55D5AD3E01D005', 1, NULL, 1, N'03CF833D95A3C453B601730DEE599743')
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Index [fk_Bitacora_Usuario1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_Bitacora_Usuario1_idx] ON [dbo].[bitacora]
(
	[Usuario_idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Equipo_Usuario1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_Equipo_Usuario1_idx] ON [dbo].[equipo]
(
	[coordinador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_EquipoGrupo_Equipo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_EquipoGrupo_Equipo1_idx] ON [dbo].[equipogrupo]
(
	[Equipo_idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_EquipoGrupo_Grupo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_EquipoGrupo_Grupo1_idx] ON [dbo].[equipogrupo]
(
	[Grupo_idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_EquipoObjetivo_Equipo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_EquipoObjetivo_Equipo1_idx] ON [dbo].[equipoobjetivo]
(
	[Equipo_idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_EquipoObjetivo_Objetivo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_EquipoObjetivo_Objetivo1_idx] ON [dbo].[equipoobjetivo]
(
	[Objetivo_idObjetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Evaluacion_EquipoObjetivo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_Evaluacion_EquipoObjetivo1_idx] ON [dbo].[evaluacion]
(
	[EquipoObjetivo_idEquipoObjetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FamiliaPatente_Familia1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_FamiliaPatente_Familia1_idx] ON [dbo].[familiapatente]
(
	[Familia_idFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FamiliaPatente_Patente_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_FamiliaPatente_Patente_idx] ON [dbo].[familiapatente]
(
	[Patente_idPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FamiliaUsuario_Familia1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_FamiliaUsuario_Familia1_idx] ON [dbo].[familiausuario]
(
	[Familia_idFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_FamiliaUsuario_Usuario1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_FamiliaUsuario_Usuario1_idx] ON [dbo].[familiausuario]
(
	[Usuario_idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_GrupoBeneficio_Beneficio1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_GrupoBeneficio_Beneficio1_idx] ON [dbo].[grupobeneficio]
(
	[Beneficio_idBeneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_GrupoBeneficio_Grupo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_GrupoBeneficio_Grupo1_idx] ON [dbo].[grupobeneficio]
(
	[Grupo_idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_PatenteUsuario_Patente1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_PatenteUsuario_Patente1_idx] ON [dbo].[patenteusuario]
(
	[Patente_idPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_PatenteUsuario_Usuario1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_PatenteUsuario_Usuario1_idx] ON [dbo].[patenteusuario]
(
	[Usuario_idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Usuario_Equipo1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_Usuario_Equipo1_idx] ON [dbo].[usuario]
(
	[Equipo_idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_Usuario_Idioma1_idx]    Script Date: 11/11/2018 23:16:14 ******/
CREATE NONCLUSTERED INDEX [fk_Usuario_Idioma1_idx] ON [dbo].[usuario]
(
	[Idioma_idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[beneficio] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[equipo] ADD  DEFAULT (NULL) FOR [nombre]
GO
ALTER TABLE [dbo].[equipogrupo] ADD  DEFAULT (NULL) FOR [periodoFin]
GO
ALTER TABLE [dbo].[equipoobjetivo] ADD  DEFAULT (NULL) FOR [periodoFin]
GO
ALTER TABLE [dbo].[grupo] ADD  DEFAULT (NULL) FOR [nombre]
GO
ALTER TABLE [dbo].[grupobeneficio] ADD  DEFAULT (NULL) FOR [periodoFin]
GO
ALTER TABLE [dbo].[objetivo] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT (NULL) FOR [Equipo_idEquipo]
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD  CONSTRAINT [bitacora$fk_Bitacora_Usuario1] FOREIGN KEY([Usuario_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[bitacora] CHECK CONSTRAINT [bitacora$fk_Bitacora_Usuario1]
GO
ALTER TABLE [dbo].[equipo]  WITH CHECK ADD  CONSTRAINT [equipo$fk_Equipo_Usuario1] FOREIGN KEY([coordinador])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[equipo] CHECK CONSTRAINT [equipo$fk_Equipo_Usuario1]
GO
ALTER TABLE [dbo].[equipogrupo]  WITH CHECK ADD  CONSTRAINT [equipogrupo$fk_EquipoGrupo_Equipo1] FOREIGN KEY([Equipo_idEquipo])
REFERENCES [dbo].[equipo] ([idEquipo])
GO
ALTER TABLE [dbo].[equipogrupo] CHECK CONSTRAINT [equipogrupo$fk_EquipoGrupo_Equipo1]
GO
ALTER TABLE [dbo].[equipogrupo]  WITH CHECK ADD  CONSTRAINT [equipogrupo$fk_EquipoGrupo_Grupo1] FOREIGN KEY([Grupo_idGrupo])
REFERENCES [dbo].[grupo] ([idGrupo])
GO
ALTER TABLE [dbo].[equipogrupo] CHECK CONSTRAINT [equipogrupo$fk_EquipoGrupo_Grupo1]
GO
ALTER TABLE [dbo].[equipoobjetivo]  WITH CHECK ADD  CONSTRAINT [equipoobjetivo$fk_EquipoObjetivo_Equipo1] FOREIGN KEY([Equipo_idEquipo])
REFERENCES [dbo].[equipo] ([idEquipo])
GO
ALTER TABLE [dbo].[equipoobjetivo] CHECK CONSTRAINT [equipoobjetivo$fk_EquipoObjetivo_Equipo1]
GO
ALTER TABLE [dbo].[equipoobjetivo]  WITH CHECK ADD  CONSTRAINT [equipoobjetivo$fk_EquipoObjetivo_Objetivo1] FOREIGN KEY([Objetivo_idObjetivo])
REFERENCES [dbo].[objetivo] ([idObjetivo])
GO
ALTER TABLE [dbo].[equipoobjetivo] CHECK CONSTRAINT [equipoobjetivo$fk_EquipoObjetivo_Objetivo1]
GO
ALTER TABLE [dbo].[evaluacion]  WITH CHECK ADD  CONSTRAINT [evaluacion$fk_Evaluacion_EquipoObjetivo1] FOREIGN KEY([EquipoObjetivo_idEquipoObjetivo])
REFERENCES [dbo].[equipoobjetivo] ([idEquipoObjetivo])
GO
ALTER TABLE [dbo].[evaluacion] CHECK CONSTRAINT [evaluacion$fk_Evaluacion_EquipoObjetivo1]
GO
ALTER TABLE [dbo].[familiapatente]  WITH CHECK ADD  CONSTRAINT [familiapatente$fk_FamiliaPatente_Familia1] FOREIGN KEY([Familia_idFamilia])
REFERENCES [dbo].[familia] ([idFamilia])
GO
ALTER TABLE [dbo].[familiapatente] CHECK CONSTRAINT [familiapatente$fk_FamiliaPatente_Familia1]
GO
ALTER TABLE [dbo].[familiapatente]  WITH CHECK ADD  CONSTRAINT [familiapatente$fk_FamiliaPatente_Patente] FOREIGN KEY([Patente_idPatente])
REFERENCES [dbo].[patente] ([idPatente])
GO
ALTER TABLE [dbo].[familiapatente] CHECK CONSTRAINT [familiapatente$fk_FamiliaPatente_Patente]
GO
ALTER TABLE [dbo].[familiausuario]  WITH CHECK ADD  CONSTRAINT [familiausuario$fk_FamiliaUsuario_Familia1] FOREIGN KEY([Familia_idFamilia])
REFERENCES [dbo].[familia] ([idFamilia])
GO
ALTER TABLE [dbo].[familiausuario] CHECK CONSTRAINT [familiausuario$fk_FamiliaUsuario_Familia1]
GO
ALTER TABLE [dbo].[familiausuario]  WITH CHECK ADD  CONSTRAINT [familiausuario$fk_FamiliaUsuario_Usuario1] FOREIGN KEY([Usuario_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[familiausuario] CHECK CONSTRAINT [familiausuario$fk_FamiliaUsuario_Usuario1]
GO
ALTER TABLE [dbo].[grupobeneficio]  WITH CHECK ADD  CONSTRAINT [grupobeneficio$fk_GrupoBeneficio_Beneficio1] FOREIGN KEY([Beneficio_idBeneficio])
REFERENCES [dbo].[beneficio] ([idBeneficio])
GO
ALTER TABLE [dbo].[grupobeneficio] CHECK CONSTRAINT [grupobeneficio$fk_GrupoBeneficio_Beneficio1]
GO
ALTER TABLE [dbo].[grupobeneficio]  WITH CHECK ADD  CONSTRAINT [grupobeneficio$fk_GrupoBeneficio_Grupo1] FOREIGN KEY([Grupo_idGrupo])
REFERENCES [dbo].[grupo] ([idGrupo])
GO
ALTER TABLE [dbo].[grupobeneficio] CHECK CONSTRAINT [grupobeneficio$fk_GrupoBeneficio_Grupo1]
GO
ALTER TABLE [dbo].[patenteusuario]  WITH CHECK ADD  CONSTRAINT [patenteusuario$fk_PatenteUsuario_Patente1] FOREIGN KEY([Patente_idPatente])
REFERENCES [dbo].[patente] ([idPatente])
GO
ALTER TABLE [dbo].[patenteusuario] CHECK CONSTRAINT [patenteusuario$fk_PatenteUsuario_Patente1]
GO
ALTER TABLE [dbo].[patenteusuario]  WITH CHECK ADD  CONSTRAINT [patenteusuario$fk_PatenteUsuario_Usuario1] FOREIGN KEY([Usuario_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[patenteusuario] CHECK CONSTRAINT [patenteusuario$fk_PatenteUsuario_Usuario1]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [usuario$fk_Usuario_Equipo1] FOREIGN KEY([Equipo_idEquipo])
REFERENCES [dbo].[equipo] ([idEquipo])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [usuario$fk_Usuario_Equipo1]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [usuario$fk_Usuario_Idioma1] FOREIGN KEY([Idioma_idIdioma])
REFERENCES [dbo].[idioma] ([idIdioma])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [usuario$fk_Usuario_Idioma1]
GO
USE [master]
GO
